<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <%=title%>
        <p><label>UserName</label><input type="text" id="txt_UserName" value="test" /></p>
        <p><label>PassWord</label><input type="text" id="txt_PassWord" value="123" /></p>
        <p>
            <input type="button" id="btn_login1" value="login1" />
            <input type="button" id="btn_login2" value="login2" />
            <input type="button" id="btn_login3" value="login3" />
            <input type="button" id="btn_test" value="test login success" />
            <input type="button" id="btn_logout" value="logout" />
        </p>

        <script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
        <script type="text/javascript">
            $('#btn_login1').click(function() {

                $.ajax({
                    url: '/login1',
                    data: {
                        "username": $('#txt_UserName').val(),
                        "password": $('#txt_PassWord').val()
                    },
                    type: 'post',
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(xhr){
                        console.log(xhr);
                    }
                });

            });
            $('#btn_login2').click(function() {

                $.ajax({
                    url: '/login2',
                    data: {
                        "username": $('#txt_UserName').val(),
                        "password": $('#txt_PassWord').val()
                    },
                    type: 'post',
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(xhr){
                        console.log(xhr);
                    }
                });

            });
            $('#btn_login3').click(function() {

                $.ajax({
                    url: '/login3',
                    data: {
                        "username": $('#txt_UserName').val(),
                        "password": $('#txt_PassWord').val()
                    },
                    type: 'post',
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(xhr){
                        console.log(xhr);
                    }
                });

            });

            $('#btn_test').click(function() {

                $.ajax({
                    url: '/getdata',
                    data: {},
                    type: 'get',
                    success: function(result) {
                        console.log(result);
                    }
                });

            });

            $('#btn_logout').click(function() {

                $.ajax({
                    url: '/logout',
                    data: {},
                    type: 'post',
                    success: function(result) {
                        console.log(result);
                    }
                });

            });
        </script>
</body>

</html>